<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
	<div class="nav navbar-nav">
		<a class="nav-item nav-link active" href="{{path('app_app')}}" aria-current="page">Accueil
			<span class="visually-hidden">(current)</span>
		</a>
		<a class="nav-item nav-link" href="{{path('app_brand_index')}}">Marque</a>
		<a class="nav-item nav-link" href="{{path('app_car_index')}}">Voiture</a>
		<a class="nav-item nav-link" href="{{path('app_login')}}">Se connecter</a>
		<a class="nav-item nav-link" href="{{path('app_register')}}">Créer un compte</a>
		<a class="nav-item nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
		<a class="nav-item nav-link" href="{{path('admin')}}">Administration</a>
		<a class="nav-item nav-link" href="{{path('app_publication_index')}}">Blog</a>
	</div>
</nav>
<div class="title bg-primary d-flex align-items-center justify-content-center mb-2" style="height : 150px">
	<h1 class="text-light">{{title}}</h1>
</div>
